$white: #fff;
$light-white: #eee;
$black: #000;
$main-gold: #d6c78e;
$darkgold: #9b9165;
$lightgold: #d8bf5a;
$red: #a01c35;
$light-dark: #303030;
$dark: #232323;
$darker: #191919;
$bg-nav-desktop: rgba(0, 0, 0, 0.5);
$bgc-nav-color: rgb(66, 66, 66);
$bgc-nav-gradient: linear-gradient(4deg, rgba(51, 53, 51, 1) 0%, rgba(32, 32, 32, 1) 26%, rgba(51, 53, 51, 1) 100%);
$img-gradient: linear-gradient(4deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 26%, rgba(0, 0, 0, 0.7) 100%);
